{% extends 'base.html.twig' %}

{% block title %}News index{% endblock %}

{% block body %}
    <div class="bg-secondary bg-opacity-25 pb-5">
        <div class="container">




            <div class="row row-cols-1 row-cols-md-3 g-4 p-2" >

                {% for news in news %}

                    <div class="col">
                        <div class="card h-100 shadow">
                            <div class="card-header">
                                <a href="{{ path('app_news_show', {'id': news.id}) }}">
                                    <img src="{{ news.photo }}" class="card-img-top" alt="..." style="object-fit: cover; object-position: center;height: 20vw;">
                                </a>
                            </div>

                            <div class="card-body">
                                <a href="{{ path('app_news_show', {'id': news.id}) }}" class="text-decoration-none text-dark">
                                    <div>
                                        <h5 class="card-title">{{ news.title }}</h5>
                                        <small class="text-muted">{{ news.dateAdded ? news.dateAdded|date('Y-m-d H:m') : '' }}</small>
                                        <p class="card-text">{{ news.annotation }}</p>
                                    </div>
                                </a>
                            </div>

                            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start card-footer">

                                       <a href="{{ path('app_news_show', {'id': news.id}) }}" class="col-6 col-md-12 col-xl-6 ml-auto mb-md-1 mb-xl-0">
                                           <button type="button" class="btn btn-outline-dark">Посмотреть</button>
                                       </a>
                                {% if app.user  and app.user == news.user %}
                                       <a href="{{ path('app_news_edit', {'id': news.id}) }}" class="col-6 col-md-12 col-xl-6 mr-auto">
                                           <button type="button" class="btn btn-outline-dark">Редактировать</button>
                                       </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>


                {% else %}
                    <tr>
                        <td colspan="8">no records found</td>
                    </tr>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}
